<nav id="navbar-header" class="navbar navbar-expand-lg">
  <ul class="navbar-nav">
    <li class="nav-item mt-1">
      <div class="d-flex align-items-center gap-2">
        <div class="icon-container">
          <img class="icon-img" src="{{ '/assets/images/pixel-fire.svg' | relative_url }}" alt="Pixel fire">
        </div>
        <a class="nav-link py-0 my-0" href="{{ '/' | relative_url }}">
          <h1 class="headline py-0 my-0">{{ site.title }}</h1>
        </a>
      </div>
    </li>
    <li class="nav-item mt-2">
      <a class="nav-link py-0 my-0 about-link" href="{{ '/about' | relative_url }}">
        <h2 class="headline py-0 my-0">
          <span class="text-primary">-> <span class="h4">by</span></span> <span class="boccaleone-link">boccaleone</span>
        </h2>
      </a>
    </li>
  </ul>
</nav>

<p>Tales of rot and decay in technology</p>
