---
layout: default
---

<section class="post-chat home-layout">
  <a class="d-block d-md-none mb-3" href="#recent-posts">See recent posts</a>

  <div class="home-main-content chat-columns">
    {{ content }}
  </div>

  <aside class="home-recent-posts" id="recent-posts">
    <h3 class="mt-3">Recent posts</h3>
    <ul>
      {% for post in site.posts limit:3 %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
